<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 
 <div class="flex items-center justify-center">
  <div class="relative block">
  <a class=" text-white" href="#">
    <span class="">Home</span>
      <svg
        class="h-1 sm:h-2.5"
        viewBox="0 0 10 10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
      </svg>
  </a>
 
  <h2 class="mt-6 text-2xl font-bold text-gray-500 sm:text-3xl md:text-4xl">
    OTOQS へようこそ！
  </h2>

  <p class="mt-4 leading-relaxed text-gray-500">
    以下の必須項目を正しく入力してください。<br/>「アカウントを作成する」を押すとスグにメモ機能が使えます。
  </p>
  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mt-8">
    <label for="user_name" class="block mb-1 text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']">ユーザー名</label>
    <%= f.text_field :user_name, class: "block rounded-md w-80", placeholder: "*半角英数字のみ・あとから変更不可", autofocus: true, autocomplete: "user_name" %>
  </div>

  <div class="mt-2">
    <label for="email" class="block mb-1 text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']">メールアドレス</label>
    <%= f.email_field :email, class: "block rounded-md w-80", placeholder: "you@mail.com", autocomplete: "email" %>
  </div>

  <div class="mt-2">
    <label for="password" class="mb-1 block text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']">パスワード</label>
    <%= f.password_field :password, class: "block rounded-md w-80", placeholder: "*半角英数字のみ・6字以上", autocomplete: "new-password" %>
  </div>

  <div class="mt-2">
    <label for="password_confirmation" class="mb-1 block text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']">確認用パスワード</label>
    <%= f.password_field :password_confirmation, class: "block  rounded-md w-80", placeholder: "*パスワードをもう一度入力して下さい",autocomplete: "new-password" %>
  </div>

  <div class="mt-8">
    <p class="text-sm text-gray-500">
      By creating an account, you agree to our
      <a href="#" class="text-gray-700 underline">terms and conditions</a>
      and
      <a href="#" class="text-gray-700 underline">privacy policy</a>.
    </p>
  </div>

  <div class="mt-16">
    <%= f.submit 'アカウントを作成する', class:"rounded-md border border-teal-500 bg-teal-500 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-teal-500" %>
  </div>

  <div class="mt-4">
    <p class="text-sm text-gray-500">
      すでにアカウントを持っていますか?
      <%= link_to 'ログイン', new_user_session_path, class: "text-gray-700 underline" %>
    </p>
  </div>

  </div>
</div>
<% end %>
