<header class="py-1 px-10">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
          Let's share, <%= @user_name %>!
        </h1>

        <p class="mt-3 text-sm text-gray-500">
          ・ボタンを押すと、あなたのマイページのURLをコピーできます。
        </p>
        <p class="mt-1.5 text-sm text-gray-500">
          ・共有されるのは「限定公開」に設定したクーポンのみです。
        </p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        <button
          id="copy-mypage-url"
          data-url="<%= user_url(@user_name) %>"
          class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 text-gray-500 transition hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:ring"
          type="button"
        >
          <span class="text-sm font-medium"> マイページのURL </span>
        </button>
      </div>
    </div>
  </div>
</header>
<div
  class="mx-12 mt-1 mb-4 flex items-center gap-4 before:h-px before:flex-1 before:bg-gray-300 before:content-[''] text-gray-400 after:h-px after:flex-1 after:bg-gray-300 after:content-['']"
>
  お友達はここから下だけしか見えません
</div>
<main class="p-10">
  <div class="flex justify-center">
    Shared by
    <p class="font-bold mx-1.5"><%= @user_name %> 🎫</p>
  </div>
  <% @vouchers.each do |voucher| %>
  <div class="group border border-slate-700 p-4 rounded mt-4 relative">
    <div class="font-medium text-gray-900"><%= voucher.title %></div>
    <div class="text-gray-700">
      <span class="hidden group-hover:inline" id="coupon-code-<%= voucher.id %>"
        ><%= voucher.code_text.present? ? voucher.code_text : voucher.code_url %></span
      >
      <button
        class="opacity-0 group-hover:opacity-100 focus:opacity-100 rounded-lg border border-gray-900 bg-gray-900 px-4 py-1 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-gray-600 hover:bg-gray-600 focus:ring focus:ring-gray-200 disabled:cursor-not-allowed disabled:border-gray-300 disabled:bg-gray-300 absolute bottom-6 right-4"
        onclick="copyToClipboard('<%= voucher.id %>')"
      >
        Copy
      </button>
      <span id="copy-confirm-<%= voucher.id %>" class="text-gray-500 text-sm hidden"></span>
    </div>
  </div>
  <% end %>
</main>
<script>
  function copyToClipboard(voucherId) {
    const codeText = document.getElementById(`coupon-code-${voucherId}`).innerText;
    const textarea = document.createElement("textarea");
    textarea.value = codeText;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);

    const confirmSpan = document.getElementById(`copy-confirm-${voucherId}`);
    confirmSpan.innerText = "コピー完了🎉";
    confirmSpan.style.display = "inline";

    setTimeout(() => {
      confirmSpan.style.display = "none";
    }, 500);
  }
</script>
