<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="p-10 flex items-center justify-center">
  <div>
    <div class="mt-4">
      <h2 class="text-2xl flex justify-center sm:block font-bold text-gray-500 sm:text-4xl">
        おかえりなさい
      </h2>

      <p class="mt-2 text-sm text-gray-500">必須項目を入力後「ログイン」を押してください。</p>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mt-4">
      <label
        for="email"
        class="mb-1 text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']"
        >メールアドレス</label
      >
      <%= f.email_field :email, class: "block rounded-md w-80", placeholder: "you@mail.com",
      autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mt-2">
      <label
        for="password"
        class="mb-1 text-sm font-medium text-gray-700 after:ml-0.5 after:text-red-500 after:content-['*必須']"
        >パスワード</label
      >
      <%= f.password_field :password, class: "block rounded-md w-80", placeholder:
      "*半角で入力してください。" %>
    </div>

    <div class="mt-4 flex justify-center sm:block">
      <%= f.submit 'ログイン', class:"rounded-md border border-black bg-black px-10 py-3 text-sm
      font-medium text-white transition hover:bg-transparent hover:text-black" %>
    </div>

    <div class="mt-4 flex justify-center sm:block text-sm">
      <p class="text-gray-500">
        まだアカウントを持っていないなら<%= link_to 'コチラ', new_user_registration_path,
        class:"text-blue-500 ml-0.5 no-underline hover:underline"%>
      </p>
    </div>
  </div>
</div>
<% end %>
