<%= form_with(model: @voucher, local: true, data: { turbo: false }) do |f| %>
<main class="flex items-center justify-center px-12 py-8">
  <div class="relative block w-full sm:w-1/2">
    <%= render "vouchers/shared/error_messages", model: f.object %>

    <div class="mt-12">
      <label
        for="title"
        class="block text-sm font-medium text-gray-700 after:ml-1 after:text-red-500 after:content-['*必須']"
        >クーポン名</label
      >
      <%= f.text_field :title, class: "rounded-md w-full sm:w-80", placeholder: "例）Aショップ
      友達紹介コード" %>
    </div>

    <div class="mt-6">
      <label
        for="code_text"
        class="block text-sm font-medium text-gray-700 after:ml-1 after:text-red-500 after:content-['*テキストコードかURLどちらか一方のみ必須']"
        >クーポン (テキストコード)</label
      >
      <%= f.text_field :code_text, class: "rounded-md w-full sm:w-80", placeholder: "例）ABC123" %>
    </div>

    <div class="mt-6">
      <label
        for="code_url"
        class="block text-sm font-medium text-gray-700 after:ml-1 after:text-red-500 after:content-['*テキストコードかURLどちらか一方のみ必須']"
        >クーポン (URL)</label
      >
      <%= f.url_field :code_url, class: "rounded-md w-full sm:w-80", placeholder:
      "例）https://example.com" %>
    </div>

    <div class="mt-6">
      <label
        for="status"
        class="block my-1 text-sm font-medium text-gray-700 after:ml-1 after:text-red-500 after:content-['*必須']"
        >クーポンの公開範囲
      </label>
      <%= f.select :status, [["非公開", "1"], ["限定公開", "2"]]%>
      <main>
        <div class="flex text-sky-500">
          <div
            class="rounded-md bg-primary-50 my-1.5 text-sm text-primary-500"
            x-cloak
            x-show="showAlert"
            x-data="{ showAlert: true }"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5 flex-shrink-0"
            >
              <path
                fill-rule="evenodd"
                d="M19 10.5a8.5 8.5 0 11-17 0 8.5 8.5 0 0117 0zM8.25 9.75A.75.75 0 019 9h.253a1.75 1.75 0 011.709 2.13l-.46 2.066a.25.25 0 00.245.304H11a.75.75 0 010 1.5h-.253a1.75 1.75 0 01-1.709-2.13l.46-2.066a.25.25 0 00-.245-.304H9a.75.75 0 01-.75-.75zM10 7a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
          </div>
          <div class="mt-1.5 cursor-pointer no-underline hover:underline" id="statusDescOpen">
            「公開範囲」とは？
          </div>
        </div>
        <div
          class="fixed left-0 top-0 hidden bg-transparent bg-slate-200 h-full w-full z-10"
          id="statusDescModal"
        >
          <div class="modal-content bg-white my-52 mx-auto w-3/4 shadow-md rounded-md">
            <div
              class="modal-header bg-slate-500 pl-4 pr-6 py-4 flex justify-between font-bold text-white"
            >
              <h1>「非公開」と「限定公開」</h1>
              <span class="statusDescClose cursor-pointer">&times;</span>
            </div>
            <div class="modal-body p-4">
              <p class="">
                ・非公開：「あなた」だけ閲覧できます<br />
                <span class="font-light text-gray-500"
                  >▷自分で記録するだけのクーポンは【非公開】がオススメ！</span
                >
              </p>
              <p class="mt-4">
                ・限定公開：「あなた + あなたのマイページリンクを知っている人」が閲覧できます<br />
                <span class="font-light text-gray-500"
                  >▷友達に共有したいクーポンは【限定公開】がオススメ！</span
                >
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div class="mt-6">
      <label for="info" class="block mb-1 text-sm font-medium text-gray-700">詳細メモ</label>
      <%= f.text_area :info, class: "rounded-md w-full sm:w-80", placeholder:
      "例）紹介された側は、招待リンクから登録後1週間以内に買い物する必要アリ" %>
    </div>

    <div class="mt-6">
      <label
        for="date"
        class="block mb-1 text-sm font-medium text-gray-700 after:ml-1 after:font-light after:text-gray-500 after:content-['クーポンを使いたい日などを設定できます']"
        >日付</label
      >
      <%= f.date_field :date, class: "rounded-md w-full sm:w-80" %>
    </div>

    <div class="mt-16">
      <%= f.submit '保存', class:"rounded-md border border-black bg-black px-12 py-3 text-sm
      font-medium text-white transition hover:bg-transparent hover:text-black" %>
    </div>
  </div>
</main>
<% end %>
