<main class="container mx-auto mt-16 px-5 flex">
  <dl class="-my-3 divide-y divide-gray-100 text-sm">
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">クーポン名</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.title%></dd>
    </div>
    <% if @voucher.code_text.present? %>
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">クーポン（コード）</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.code_text %></dd>
    </div>
    <% else %>
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">クーポン（URL）</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.code_url %></dd>
    </div>
    <% end %>
    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">クーポン情報の公開範囲</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.status %></dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">日付</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.date %></dd>
    </div>

    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
      <dt class="font-medium text-gray-900">メモの詳細</dt>
      <dd class="text-gray-700 sm:col-span-2"><%= @voucher.info %></dd>
    </div>
  </dl>
</main>
