<div class="p-8">
  <header class="container flex justify-between">
    <div>
      <%= link_to '/' do%>
      <div class="inline-flex items-center gap-x-1 text-sm text-blue-500 hover:text-blue-300">
        <svg
          class="flex-shrink-0 w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
        戻る
      </div>
      <% end %>
    </div>
    <div class="navbar relative text-blue-500 hover:text-blue-300 mr-[10%] sm:mr-[50%]">
      <ul>
        <li class="nav-button" id="lists">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z"
            />
          </svg>
        </li>
      </ul>
      <ul
        class="show-lists absolute top-4.5 -left-10 bg-white rounded-md p-2.5 divide-y divide-solid hidden"
        id="pullDown"
      >
        <li class="inline-blockblock w-10 text-center">
          <%= link_to '編集', edit_voucher_path(@voucher.id), class:"text-gray-600
          hover:text-gray-300 font-medium" %>
        </li>
        <li class="inline-blockblock w-10 text-center">
          <%= link_to '削除', voucher_path(@voucher.id), data: { turbo_method: :delete },
          class:"text-gray-600 hover:text-gray-300 font-medium" %>
        </li>
      </ul>
    </div>
  </header>
  <main class="container">
    <div class="mt-4">
      <div class="">
        <div class="font-light text-gray-500">トクテン名</div>
        <div class="font-semibold text-gray-800"><%= @voucher.title%></div>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">トクテン *コード型</div>
        <% if @voucher.code_text.present? %>
        <span class="font-semibold text-gray-800"><%= @voucher.code_text %></span>
        <%= button_tag type: 'button', class: 'clipboard-button', data: { controller: "clipboard",
        action: "click->clipboard#copy", clipboard_content_value: @voucher.code_text } do %>
        <svg
          class="w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
        </svg>
        <% end %> <% end %>
      </div>

      <div class="mt-4">
        <div class="font-light text-gray-500">トクテン *URL型</div>
        <% if @voucher.code_url.present? %>
        <span class="font-semibold text-gray-800"><%= @voucher.code_url %></span>
        <%= button_tag type: 'button', class: 'clipboard-button', data: { controller: "clipboard",
        action: "click->clipboard#copy", clipboard_content_value: @voucher.code_url } do %>
        <svg
          class="w-4 h-4"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
          <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
        </svg>
        <% end %> <% end %>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">公開範囲</div>
        <div class="font-semibold text-gray-800"><%= @voucher.status_text %></div>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">お友達（共有された側）のトクテン</div>
        <div class="font-semibold text-gray-800"><%= @voucher.shared_benefit%></div>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">お友達（共有された側）のアクション</div>
        <div class="font-semibold text-gray-800 whitespace-pre"><%= @voucher.shared_action%></div>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">メモ（詳細の追加）</div>
        <div class="font-semibold text-gray-800"><%= @voucher.info %></div>
      </div>
      <div class="mt-4">
        <div class="font-light text-gray-500">日付</div>
        <div class="font-semibold text-gray-800"><%= @voucher.date %></div>
      </div>
    </div>
  </main>
  <footer class="fixed bottom-0 w-full p-1">
    <div class="text-center text-gray-50">OTOQS</div>
  </footer>
</div>
