<main class="container mx-auto mt-16 px-5">
  <dl class="">
    <div class="mt-4">
      <dt class="font-medium text-gray-900">クーポン名</dt>
      <dd class="text-gray-700"><%= @voucher.title%></dd>
    </div>
    <% if @voucher.code_text.present? %>
    <div class="mt-4">
      <dt class="font-medium text-gray-900">クーポン（コード）</dt>
      <dd class="text-gray-700"><%= @voucher.code_text %></dd>
    </div>
    <% else %>
    <div class="">
      <dt class="font-medium text-gray-900">クーポン（URL）</dt>
      <dd class="text-gray-700"><%= @voucher.code_url %></dd>
    </div>
    <% end %>
    <div class="mt-4">
      <dt class="font-medium text-gray-900">クーポンの公開範囲</dt>
      <dd class="text-gray-700"><%= @voucher.status_text %></dd>
    </div>

    <div class="mt-4">
      <dt class="font-medium text-gray-900">日付</dt>
      <dd class="text-gray-700"><%= @voucher.date %></dd>
    </div>

    <div class="mt-4">
      <dt class="font-medium text-gray-900">メモの詳細</dt>
      <dd class="text-gray-700"><%= @voucher.info %></dd>
    </div>
  </dl>
  <button class="mt-12">
    <%= link_to '編集', edit_voucher_path(@voucher.id), class:"items-center
    gap-1.5 rounded-lg border border-green-500 bg-green-500 px-5 py-2.5
    text-center text-sm font-medium text-white shadow-sm transition-all
    hover:border-green-700 hover:bg-green-700 focus:ring focus:ring-green-200
    disabled:cursor-not-allowed disabled:border-green-300 disabled:bg-green-300"
    %>
  </button>
  <button class="mt-12">
    <%= link_to '削除', voucher_path(@voucher.id), data: { turbo_method: :delete
    }, class:"items-center gap-1.5 rounded-lg border border-red-500 bg-red-500
    px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm
    transition-all hover:border-red-700 hover:bg-red-700 focus:ring
    focus:ring-red-200 disabled:cursor-not-allowed disabled:border-red-300
    disabled:bg-red-300" %>
  </button>
</main>
